// Importer les fichiers Sass de Bootstrap pour les règles de média queries
@import "node_modules/bootstrap/scss/bootstrap";

// Ajouter les règles de média queries pour les écrans de taille moyenne et supérieure
@media screen and (min-width: 768px) {
  body {
    font-size: $font-size-base + 2px;
  }

  h1 {
    font-size: $font-size-base * 2;
  }

  h2 {
    font-size: $font-size-base * 1.5;
  }
}

// Ajouter les règles de média queries pour les écrans de grande taille
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
