
  /* Style de base pour le site */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
  } 

  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  nav li {
    margin: 0 10px;
  }

  main section {
    padding: 20px;
    background-color: #f9f9f9;
  }

  .footer {
    padding: 10px;
    background-color: #f2f2f2;
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    header{
      padding:20px;
    }
    nav li{
      margin: 0 20px;
    }
    main{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    section{
      width: calc(33.33% - 20px);
    }
    }
    
  @media screen and (min-width: 1200px) {
    main{
      margin: auto;
      max-width: 1200px;
    }
    
  }